@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-size: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: grid;
  place-items: center;
}
main {
  background: url(imagens/Mobile.svg);
  position: relative;
  width: 375px;
  height: 812px;
  color: var(--gray);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  height: 11.5rem;
  left: 108px;
  top: 184px;
  border-style: normal;
}

.avatar span {
  position: absolute;
  top: -15px;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  display: flex;
  padding: 20px;
}

ul li {
  text-decoration: none;
}
